# Environment files
.env
*.env
.venv
.claude

# Python cache
__pycache__/
*.pyc

# Data / result files
log/
results/

# JSON , log files
*.json
*.jsonl
*.log

# 테스트용
CLAUDE.md
reference/

# 인증서
*.cer
